/* Блок Добавления новости */
.add_news_block {
	width: 92%;
	min-height: 20px;
	background-color: #394264;
	margin: 2%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px 2%;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
}

.add_post_text {
	resize: none;
	width: 96%;
	padding: 2%;
	outline: none;
	border: none;
	background-color: #50597B;
	color: #fff;
}

.add_post_text_full {
	resize: none;
	width: 96%;
	padding: 2%;
	outline: none;
	border: none;
	background-color: #50597B;
	color: #fff;
}

input.title {
	resize: none;
	width: 96%;
	padding: 2%;
	outline: none;
	background-color: #50597B;
	color: #fff;
	border: none;
}

input.theme {

}

input.submit {
	background-color: #50597B;
	color: #fff;
	border: none;
	padding: 10px;
}

div.submit {
	background-color: #50597B;
	color: #fff;
	border: none;
	padding: 10px;
	display: inline-block;
	cursor: pointer;
}

/* Обертка для блока вставки картинки */
.left_block_for_insert_img_block {
	width: 30%;
	float: left;
	text-align: center;
}

/* Блок / вставка картинки */
.insert_img_block {
	width: 89%;
	padding: 0px 2%;
	min-height: 100px;
	background-color: #394264;
	margin: 5%;
	margin-right: 2%;
	margin-top: 0px;
	padding-bottom: 20px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	border-radius: 8px;
	float: left;
	text-align: center;
}

.insert_img_block h4 {
	text-align: center;
}

.insert_img_block_text {
	resize: none;
	margin: 0 auto;
	width: 96%;
	padding: 2%;
	outline: none;
	border: none;
	background-color: #50597B;
	color: #fff;
}

.insert_img_preview {}

/* Заголовок для блоков админ-панели */

.form_headline {
	background: #50597B;
	text-align: center;
	font-size: 18px;
	padding: 10px 0;
	cursor: pointer;
}

.div_hiden {
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
	overflow: hidden;
}

select {
	cursor: pointer;
	background: #50597B;
	padding: 7px;
}